.border-cover {
    border: 1px solid #ebedf0;
}

.white-theme {
    background-color: #fff;
}

table {
    .ant-table-thead {
        tr {
            margin-bottom: 100px !important;
        }
    }
}