.border-cover {
    border: 1px solid #ebedf0;
}

.white-theme {
    background-color: #fff;
}

.cover-cart {

}
.cover-shadow--cart {
    box-shadow: 2px 10px 12px 5px rgba(0, 0, 0, 0.1) !important;
}

.cart-name {
    display: inline-block;
    width: 100px;
    margin-right: 20px;
}

.cart-thumbnail {
    width: 100px;
    height: 100px;
    overflow: hidden;
    
}
table {
    .ant-table-thead {
        tr {
            margin-bottom: 100px !important;
        }
    }
}

.header {
    color: #f77f00;
    border: 1px solid rgb(235, 237, 240);
    margin-bottom: 50px;
}