.border-cover {
    border: 1px solid rgb(235, 237, 240);
}

.white-theme {
    background-color: #fff;
}

.cover-cart {
    background-color: #f1f1f1;
}

.cart-name {
    display: inline-block;
    width: 100px;
    margin-right: 20px;
}

.cart-thumbnail {
    width: 100px;
    height: 100px;
    overflow: hidden;
    
}

.ant-table-thead {
    margin-bottom: 100px !important;
}

.ant-input-number {
    margin-right: 10px;
}

.header {
    color: #f77f00;
    border: 1px solid rgb(235, 237, 240);
    margin-bottom: 50px;
}