.ant-upload-select-picture-card i {
  font-size: 32px;
  color: #999;
}

.ant-upload-select-picture-card .ant-upload-text {
  margin-top: 8px;
  color: #666;
}

.title {
  font-family: 'Epilogue', sans-serif;
}
.previewImg {
  height: 120px;
  border-radius: 5px;
  border: 1px solid black;
}
.uploadImg {
  height: 120px;
  border: dotted 1px black;
  border-radius: 5px;
  cursor: pointer;
}
.iconTrash > .icon {
    display: none!important;
}
.iconTrash {
    display: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
}
.previewImg:hover > .iconTrash {
    display: inline;
    background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.7));
    color: red;
}
.previewImg:hover > .iconTrash > .icon {
    display: flex!important;
}
@media screen and (max-width: 992px) {
	.uploadImg, .previewImg {
        height: 100px;
    }
}
@media screen and (max-width: 576px) {
	.uploadImg, .previewImg {
        height: 150px;
    }
}