@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");
/* -----------------------------------
    1 - General Styles
------------------------------------*/
*, body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}

html, body {
    height: 100%;
}

.form-body {
    background-color: #23394A;
    height: 100%;
}

.form-body > .row {
    position: relative;
    margin-left: 0;
    margin-right: 0;
    height: 100%;
}

.website-logo {
    display: inline-block;
    position: absolute;
    z-index: 1000;
    top: 50%;
    left: 220px;
    right: initial;
    bottom: initial;
    transform: translateY(-50%);
}

.website-logo img {
    width: 100px;
}

.website-logo a {
    display: inline-block;
}

.website-logo .logo {
    display: inline-block;
    background-image: url("/images/logoName.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.website-logo .logo img {
    width: 100px;
}

.website-logo .logo img.logo-size {
    opacity: 0 !important;
}

.img-holder {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 550px;
    height: 100%;
    overflow: hidden;
    background-color: #000000;
    padding: 60px;
    text-align: center;
    z-index: 999;
}

.img-holder .bg {
    position: absolute;
    opacity: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("/images/img2.jpg");
    background-size: cover;
    background-position: center;
    z-index: -1;
}

@media (min-height: 700px) {
    .img-holder {
        position: fixed;
    }

    .website-logo {
        position: fixed;
    }
}

.form-holder {
    margin-left: 550px;
    width: 100%;
}

.form-holder .form-content {
    position: relative;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 60px;
    min-height: 100%;
}

.form-holder .form-content ::-webkit-input-placeholder {
    color: #DEDBDB;
}

.form-holder .form-content :-moz-placeholder {
    color: #DEDBDB;
}

.form-holder .form-content ::-moz-placeholder {
    color: #DEDBDB;
}

.form-holder .form-content :-ms-input-placeholder {
    color: #DEDBDB;
}

.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-control ::-webkit-input-placeholder {
    color: #526489;
}

.form-control :-moz-placeholder {
    color: #526489;
}

.form-control ::-moz-placeholder {
    color: #526489;
}

.form-control :-ms-input-placeholder {
    color: #526489;
}

.form-content {
    position: relative;
    background-color: #23394A;
}

.form-content .form-items {
    display: inline-block;
    width: 100%;
    max-width: 340px;
    text-align: left;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.form-content h3 {
    color: #fff;
    text-align: left;
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 10px;
}

.form-content p {
    color: #fff;
    text-align: left;
    font-size: 18px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 30px;
}

.form-content label {
    color: #fff;
    text-align: left;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 10px;
}

.form-content .page-links {
    margin-bottom: 34px;
}

.form-content .page-links a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    font-size: 15px;
    margin-right: 20px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.form-content .page-links a:last-child {
    margin-right: 0;
}

.form-content .page-links a:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -10px;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.form-content .page-links a.active {
    font-weight: 700;
}

.form-content .page-links a.active:after {
    background-color: #fff;
}

.form-content .page-links a:hover:after, .form-content .page-links a:focus:after {
    background-color: #fff;
}

.form-content input {
    width: 100%;
    padding: 9px 20px;
    text-align: left;
    border: 0;
    outline: 0;
    border-radius: 6px;
    background-color: #445867;
    font-size: 15px;
    font-weight: 300;
    color: #DEDBDB;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-bottom: 14px;
}

.form-content input:hover, .form-content input:focus {
    border: 0;
    background-color: #fff;
    color: #000;
}

.form-content input[type="checkbox"] {
    width: auto;
}

.form-content input[type="checkbox"]:not(:checked), .form-content input[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}

.form-content input[type="checkbox"]:not(:checked) + label, .form-content input[type="checkbox"]:checked + label {
    position: relative;
    padding-left: 23px;
    cursor: pointer;
    display: inline;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    margin-left: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.form-content input[type="checkbox"]:checked + label{
    color: #fff;
}

.form-content input[type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 15px;
    height: 15px;
    background: #fff;
    border: 0px solid #fff;
    border-radius: 50px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.form-content input[type="checkbox"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 15px;
    height: 15px;
    background: transparent;
    border-radius: 50px;
    border: 2px solid #fff;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.form-content input[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

.form-content input[type="checkbox"]:disabled + label {
    opacity: 0.6;
}

.form-content input[type="checkbox"]:checked + label:after, .form-content input[type="checkbox"]:not(:checked) + label:after {
    content: '\f00c';
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-weight: 600;
    position: absolute;
    top: 3px;
    left: 3px;
    font-size: 9px;
    color: #23394A;
    line-height: 14px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.form-content input[type="checkbox"]:checked + label:before {
    border-radius: 4px;
}

.form-content input[type="checkbox"]:not(:checked) + label:before {
    border-radius: 4px;
}

.form-content .form-button {
    margin-top: 30px;
    margin-bottom: 25px;
}

.form-content .form-button .ibtn {
    border-radius: 6px;
    border: 0;
    padding: 6px 28px;
    background-color: #fff;
    color: #23394A;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    margin-right: 10px;
    outline: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.16);
}

.form-content .form-button .ibtn:last-child {
    margin-right: 0;
}

.form-content .form-button .ibtn:hover, .form-content .form-button .ibtn:focus {
    -webkit-box-shadow: 0 5px 6px rgba(0, 0, 0, 0.16);
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.16);
}
.form-content .form-button a {
    font-size: 13px;
    font-weight: 700;
    color: #fff;
}

.form-content form {
    margin-bottom: 30px;
}

.form-content .other-links span {
    font-size: 12px;
    font-weight: 300;
    color: #fff;
    margin-right: 20px;
}

.form-content .other-links a {
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    margin-right: 10px;
}

.form-content .other-links a:last-child {
    margin-right: 0;
}

.form-content .other-links a i {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #000;
    color: #fff;
    border-radius: 25px;
    text-align: center;
    padding-top: 5px;
    font-size: 15px;
    margin: 0 5px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.form-content .other-links a i[class*="fa-twitter"] {
    background-color: #00aced;
}

.form-content .other-links a i[class*="fa-facebook"] {
    background-color: #3b5998;
}

.form-content .other-links a i[class*="fa-youtube"] {
    background-color: #bb0000;
}

.form-content .other-links a i[class*="fa-google"] {
    background-color: #dd4b39;
}

.form-content .other-links a i[class*="fa-linkedin"] {
    background-color: #007bb6;
}

.form-content .other-links a i[class*="fa-instagram"] {
    background-color: #517fa4;
}

.form-content .other-links a i:hover, .form-content .other-links a i:focus {
    opacity: 0.8;
}

.form-content .row {
    margin-right: -6px;
    margin-left: -6px;
}

/* -----------------------------------
    2 - Responsive Styles
------------------------------------*/
@media (max-width: 992px) {
    .img-holder {
        display: none;
    }

    .form-holder {
        margin-left: 0;
    }

    .form-holder .form-content {
        padding: 0px 60px 60px;
    }

    .website-logo {
        position: relative;
        top: 50px;
        left: 50px;
        right: initial;
        bottom: initial;
    }

    .website-logo .logo {
        background-image: url("/images/logoName.png");
    }
}

@media (max-width: 575px) {
    .form-content .row.top-padding .form-button {
        text-align: left !important;
        margin-top: 30px;
    }
}
