.product >>> .ant-tabs-tab-active {
    color: #f77f00;
  }
  
  .product >>> .ant-tabs-ink-bar {
    background-color: #f77f00;
  }
  
  .product >>> .ant-tabs-tab:hover {
    color: #FAAC58;
  }

  .cart-thumbnail {
    width: 100px;
    height: 100px;
    overflow: hidden;
    
}

.cart-name {
  display: inline-block;
  width: 200px;
  margin-right: 20px;
}