$colorGreen: #5CDB95;
$colorGreenDark: #379683;
$colorGreenSuperLight: #EDF5E1;
$colorGreenGradient: linear-gradient(#5CDB95, #379683);
$colorBlue: #039be5;
$colorBlueDark: #1d3557;
$colorBlueAqua: #a8dadc;
$colorGray: rgb(155, 155, 155);
$colorGrayHeight: rgb(59, 59, 59);
$colorGreen: #00B97A;
$colorWhite: rgb(255, 255, 255);
$colorBlack: #000;
$colorBlackLight: #0a0a0a;
$colorRed: red;
$colorOrange: #f77f00;
$colorLightOrange: #fcbf49;
$colorLightBlue: #457b9d;
$colorDarkWhite: #f1faee;
$colorDarkPink: #d90429;
$colorLightPurple: #eae2b7;
$fontOpenSans: 'Open Sans', sans-serif;
$fontRoboto: 'Roboto', sans-serif;

$radiusMain: 6px;
