.header {
    box-shadow: 0 2px 8px #f0f1f2 !important;
    background-color: #fff;
}

.font_brand {
  font-family: 'Yellowtail', cursive;
  font-size: 25px;
  margin-top: 20px;
  font-weight: bold;
  color: #f77f00;
}

.logo {
  width: 100px;
  height: auto;
}

.brand-title {
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
}

.user-dropdown {
  color: #000;
}

.notification >>> .ant-badge-count {
  width: 19px;
  height: 19px;
  font-size: 11px;
  padding: 1px;
}

.category >>> .ant-menu-item-selected, .category >>> .ant-menu-item:hover {
  color: #f77f00;
  border-bottom: 2px solid #f77f00;
}

.cover-menu-item {
 padding: 10px 20px;
}