.header {
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
    background-color: #fff;
}

.font_brand {
  font-family: 'Yellowtail', cursive;
  font-size: 25px;
  margin-top: 20px;
  font-weight: bold;
  color: #f77f00;
}

.logo {
  width: 100px;
  height: auto;
}

.brand-title {
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
}

.user-dropdown {
  color: #000;
}

.notification >>> .ant-badge-count {
  width: 19px;
  height: 19px;
  font-size: 11px;
  padding: 1px;
}
