.ant-menu-submenu-selected {
    color: #f77f00;
}

.ant-menu-inline .ant-menu-item::after {
    border-right: 3px solid #1d3557;
}

.ant-menu-item-selected {
    color: #1d3557;
}

.ant-menu-item:hover {
    color: #457b9d;
}